body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 100, 101);
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: rgb(40, 102, 236);
    box-shadow: 0px 5px 10px 0px rgba(255, 251, 5, 0.774);
    display: flex;
    justify-content: space-evenly;
    padding: 0 3rem;
    margin: 0;
    font-size: 1.2rem;
}

.cabecera h1 {
    color: white;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.479);
    margin: 0 auto;
}

#container h2 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.cabecera p {
margin-top: 2.7rem;
color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#post {
    margin: 1rem;
}